<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="address" class="com.tarun.spring.springcoreadvanced.autowiring.setter.Address" p:hno="123" p:street="Tilak Road" p:city="Vijayawada" />
	
	<bean name="employee" class="com.tarun.spring.springcoreadvanced.autowiring.setter.Employee" autowire="byName" />

</beans>